@import "../../style/variables";

.coluna {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__favorite {
        display: flex;
        align-content: flex-end;
        width: 100%;
        justify-content: flex-end;
        cursor: pointer;
        padding: 0 1rem 0.5rem 0;
        font-size: 1.5rem;
        button {
            border: none;
        }
    }
}
