.card-logo {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    overflow: hidden;
}

.card-header {
    width: 100%;
    position: relative;
    z-index: 5;
}

/* .video-duration {
    background: black;
    color: white;
    width: 50px;
    border-radius: 5px;
    height: 20px;
    text-align: center;
    position: absolute;
    top: 160px;
    left: 210px;
} */

img {
    width: 100%;
}

.card-footer__container {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.card-text {
    width: 14vw;
    padding-left: 1rem;
}

.card {
    margin: 0.5rem 1rem;
    cursor: pointer;
}

.card-footer {
    margin-top: 7px;
}