@import "../../style/variables";

.card {
    margin: 0.5rem;
    cursor: pointer;

    .card-content {
        &__header {
            width: 100%;
            position: relative;
            z-index: 5;
            img {
                width: 100%;
            }
        }

        &__footer {
            margin-top: 7px;

            .card-footer {
                display: flex;
                justify-content: space-around;
                width: 100%;

                &__logo {
                    width: 36px;
                    height: 36px;
                    border-radius: 50%;
                    overflow: hidden;
                    img {
                        width: 100%;
                    }
                }
                &__text {
                    width: 13vw;
                    padding-left: 1rem;
                }
            }
        }
    }
}
