* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background: #f9f9f9;
}

:root {
    --background: #fff;
    --background-hover: #e5e5e5;
    --background-button: #f8f8f8;
    --text: #5a5a5a;
    --red: #f31d1d;
    --gray: #888;
    --border: #d3d3d3;
}

.container {
    width: 100%;
    display: flex;
    padding-left: 200px;
    flex-direction: column;
}

.container__grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    overflow: hidden;
}