@import "../../style/variables";

.form {
    display: flex;
    background: white;
    width: 25vw;
    min-width: 300px;
    padding: 0 0 0 0.5rem;
    border-radius: 0.2rem;
    border: 1px solid $border;
    margin: 0 auto;

    &__search {
        border: none;
        padding: 0.5rem;
        width: 100%;
        font-size: 1rem;
        &:focus {
            outline: none;
        }
    }

    &__icon {
        margin-top: 4px;
        cursor: pointer;
    }
}


.keyboard {
    width: 45vw;
    position: sticky;
    bottom: 0;
    left: 200px;
    margin-bottom: 1.5rem;
    z-index: 10;
    &.off {
        display: none;
    }
}
