@import "../../style/variables";
.categoriesBar {
    display: flex;
    flex-shrink: 0;
    overflow: hidden;
    background-color: white;
    z-index: 10;
    position: sticky;
    top: 80px;

    &__container {
        width: 100%;
        display: flex;
        align-items: center;
        border: 1px solid #ededed;

        .arrow {
            padding: 1rem;
            cursor: pointer;

            &:first-child {
                border-right: 1px solid #d9d9d9;
            }

            &:last-child {
                border-left: 1px solid #d9d9d9;
            }
        }

        .categoriesBar-wrapper {
            contain: content;
            display: flex;
            flex: 1 1 auto;
            overflow: hidden;

            &__items {
                display: flex;
                flex: 1 0 auto;
                position: relative;
                transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
                white-space: nowrap;

                .focusable.box {
                    padding: 0 10px;
                    display: flex;
                }

                .categories {
                    height: 32px;
                    min-width: 114px;
                    padding: 0 10px;
                    border-radius: 16px;
                    box-sizing: border-box;
                    outline: none;
                    overflow: hidden;
                    cursor: pointer;
                    -webkit-user-select: none;
                    user-select: none;
                    border: 1px solid #d9d9d9;
                    margin: 10px;
                    display: flex;
                    align-content: center;
                    background: #f2f2f2;
                    align-items: center;
                    width: 100%;
                    justify-content: center;

                    &.active {
                        background-color: #606060;
                        color: white;
                        border: 1px solid #565656;
                    }
                }
            }
        }
    }
}
