.categoriesBar {
    display: flex;
    flex-shrink: 0;
    overflow: hidden;
    background-color: white;
    z-index: 10;
    position: sticky;
    top: 80px;
}

.categoriesBar__container {
    width: 100%;
    display: flex;
    align-items: center;
    border: 1px solid #ededed;
}

.arrow {
    padding: 1rem;
    cursor: pointer;
}

.arrow:first-child {
    border-right: 1px solid #d9d9d9;
}

.arrow:last-child {
    border-left: 1px solid #d9d9d9;
}

.categories {
    height: 32px;
    min-width: 114px;
    padding: 0 10px;
    border-radius: 16px;
    box-sizing: border-box;
    outline: none;
    overflow: hidden;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    border: 1px solid #d9d9d9;
    margin: 10px;
    display: flex;
    align-content: center;
    background: #f2f2f2;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.categories.active {
    background-color: #606060;
    color: white;
    border: 1px solid #565656;
}

.categoriesBar__items {
    display: flex;
    flex: 1 0 auto;
    position: relative;
    transition: .3s cubic-bezier(.25, .8, .5, 1);
    white-space: nowrap;
}

.categoriesBar__wrapper {
    contain: content;
    display: flex;
    flex: 1 1 auto;
    overflow: hidden;
}