.gallery-logo {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    overflow: hidden;
}

.gallery-header {
    width: 100%;
    position: relative;
    z-index: 5;
}

.gallery-content {
    display: flex;
}

.gallery-header img {
    width: 100%;
}

.gallery-footer__container {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.gallery-text {
    width: 14vw;
    padding-left: 1rem;
}

.gallery {
    margin: 0.5rem 1rem;
    cursor: pointer;
}

.gallery-footer {
    margin-top: 7px;
}